@use '../../../styles/variables';
@use '../../../assets/scss/functions';

.footer {
  background-color: variables.$bg-footer-color;

  &__content {
    margin: 0 auto;
    padding: 18px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  &__link {
    display: block;
    width: fit-content;
    width: 24px;
    height: 24px;
    color: rgb(137, 157, 157);

    &:hover {
      color: variables.$bg-accent-color;
    }

    &:active {
      color: variables.$green-active;
    }

    &:focus {
      outline: none;

      &-visible {
        outline: 1px solid variables.$green-focus;
        outline-offset: 2px;
      }
    }
  }

  &__copyright {
    background-color: variables.$bg-main-color;
    padding: 3px 0 3px;

    p {
      margin: 0;
      text-align: center;
      color: variables.$grey;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0;

    }
  }

}
