<section class="footer">
  <div class="footer__content container">
    <nav class="footer__navigation">
      <ul class="footer__list">
        <li class="footer__item">
          <a class="footer__link" href="#">
            <svg class="footer__image" viewBox="0 0 24 24">
              <use href="../../../assets/images/footer-youtube.svg#youtube" />
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            <svg class="footer__image" viewBox="0 0 24 24">
              <use href="../../../assets/images/footer-instagram.svg#instagram" />
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            <svg class="footer__image" viewBox="0 0 24 24">
              <use href="../../../assets/images/footer-facebook.svg#facebook" />
            </svg>
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__link" href="#">
            <svg class="footer__image" viewBox="0 0 24 24">
              <use href="../../../assets/images/footer-twitter.svg#twitter" />
            </svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="footer__copyright">
    <p>f&b ® 2020</p>
  </div>
</section>
