@font-face {
  font-family: Cormorant;
  src:
    url('../assets/fonts/cormorant-bold.woff2') format('woff2'),
    url('../assets/fonts/cormorant-bold.woff') format('woff'),
    url('../assets/fonts/cormorant-bold.ttf') format('tru–µtype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cormorant;
  src:
    url('../assets/fonts/cormorant-bold-italic.woff2') format('woff2'),
    url('../assets/fonts/cormorant-bold-italic.woff') format('woff'),
    url('../assets/fonts/cormorant-bold-italic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../assets/fonts/open-sans-bold.woff2') format('woff2'),
    url('../assets/fonts/open-sans-bold.woff') format('woff'),
    url('../assets/fonts/open-sans-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src:
    url('../assets/fonts/open-sans-regular.woff2') format('woff2'),
    url('../assets/fonts/open-sans-regular.woff') format('woff'),
    url('../assets/fonts/open-sans-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
