// ===== COLOR =====
$green-active: rgb(104 139 5 / 100%);
$green-hover: rgb(145 172 70 / 100%);
$grey: rgb(137 157 157 / 100%);
$text-main-color: rgb(255 255 255 / 100%);
$text-secondary-color: rgb(80 104 41 / 100%);

/* Фон */

$bg-main-color: rgb(29 47 48 / 100%);
$bg-footer-color: rgb(11 25 25 / 100%);
$bg-accent-color: rgba(186 226 73 / 100%);
/* Компоненты */

// ===== TYPOGRAPHY =====

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: Cormorant, serif;
