<section class="gallery">
  <h2 class="visually-hidden">Галлерея</h2>
  <div class="gallery__content container">
    <app-swiper (slideChanged)="onSlideChanged($event)" (totalSlideChanged)="onTotalAmountSlideChanged($event)">
      <div class="swiper-slide gallery-slider" style="height: auto">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>2.4</span>
            </div>
            <img
              src="./assets/images/gallery-photo-1.png"
              width="223"
              height="120"
              alt="Ветка эвкалипта"
            />
          </div>
          <div class="gallery__card-content">
            <h3 class="gallery__card-title">Fig. 1 (plant)</h3>
            <p class="gallery__card-text">
              Имеется спорная точка зрения, гласящая примерно следующее: активно развивающиеся
              страны третьего мира своевременно верифицированы.
            </p>
            <button class="gallery__card-button">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="swiper-slide gallery-slider" style="height: auto">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>3.1</span>
            </div>
            <img
              src="./assets/images/gallery-photo-2.png"
              width="223"
              height="120"
              alt="Ветка эвкалипта"
            />
          </div>
          <div class="gallery__card-content">
            <h3 class="gallery__card-title">Fig. 2 (flower)</h3>
            <p class="gallery__card-text">
              Прежде всего, синтетическое тестирование влечет за собой процесс внедрения и
              модернизации условий.
            </p>
            <button class="gallery__card-button">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="swiper-slide" style="height: auto">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>1.2</span>
            </div>
            <img
              src="./assets/images/gallery-photo-3.png"
              width="223"
              height="120"
              alt="Ветка эвкалипта"
            />
          </div>
          <div class="gallery__card-content">
            <h3 class="gallery__card-title">Fig. 3 (leaf)</h3>
            <p class="gallery__card-text">
              Лишь непосредственные участники прогресса неоднозначны и будут в равной степени
              предоставлены сами себе для работы.
            </p>
            <button class="gallery__card-button">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="swiper-slide" style="height: auto">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>1.4</span>
            </div>
            <img
              src="./assets/images/gallery-photo-4.png"
              width="223"
              height="120"
              alt="Ветка эвкалипта"
            />
          </div>
          <div class="gallery__card-content">
            <h3 class="gallery__card-title">Fig. 4 (wood)</h3>
            <p class="gallery__card-text">
              Базовый вектор развития не даёт нам иного выбора, кроме определения новых предложений.
            </p>
            <button class="gallery__card-button">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="swiper-slide gallery-slider" style="height: auto">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>2.4</span>
            </div>
            <img
              src="./assets/images/gallery-photo-1.png"
              width="223"
              height="120"
              alt="Ветка эвкалипта"
            />
          </div>
          <div class="gallery__card-content">
            <h3 class="gallery__card-title">Fig. 1 (plant)</h3>
            <p class="gallery__card-text">
              Имеется спорная точка зрения, гласящая примерно следующее: активно развивающиеся
              страны третьего мира своевременно верифицированы.
            </p>
            <button class="gallery__card-button">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="swiper-slide gallery-slider" style="height: auto">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>3.1</span>
            </div>
            <img
              src="./assets/images/gallery-photo-2.png"
              width="223"
              height="120"
              alt="Ветка эвкалипта"
            />
          </div>
          <div class="gallery__card-content">
            <h3 class="gallery__card-title">Fig. 2 (flower)</h3>
            <p class="gallery__card-text">
              Прежде всего, синтетическое тестирование влечет за собой процесс внедрения и
              модернизации условий.
            </p>
            <button class="gallery__card-button">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="swiper-slide" style="height: auto">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>1.2</span>
            </div>
            <img
              src="./assets/images/gallery-photo-3.png"
              width="223"
              height="120"
              alt="Ветка эвкалипта"
            />
          </div>
          <div class="gallery__card-content">
            <h3 class="gallery__card-title">Fig. 3 (leaf)</h3>
            <p class="gallery__card-text">
              Лишь непосредственные участники прогресса неоднозначны и будут в равной степени
              предоставлены сами себе для работы.
            </p>
            <button class="gallery__card-button">Подробнее</button>
          </div>
        </article>
      </div>
      <div class="swiper-slide" style="height: auto">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>1.4</span>
            </div>
            <img
              src="./assets/images/gallery-photo-4.png"
              width="223"
              height="120"
              alt="Ветка эвкалипта"
            />
          </div>
          <div class="gallery__card-content">
            <h3 class="gallery__card-title">Fig. 4 (wood)</h3>
            <p class="gallery__card-text">
              Базовый вектор развития не даёт нам иного выбора, кроме определения новых предложений.
            </p>
            <button class="gallery__card-button">Подробнее</button>
          </div>
        </article>
      </div>
    </app-swiper>
    <div class="gallery__slider-control pagination">
      <button class="swiper-button-prev gallery__button-prev"></button>
      <div class="swiper-pagination">
        <span class="gallery__pagination">{{ currentSlide() }} </span>
        <span class="gallery__pagination">из</span>
        <span class="gallery__pagination"> {{totalAmountSlide()}}</span>
      </div>
      <button class="swiper-button-next gallery__button-next"></button>
    </div>
  </div>
</section>
