<section class="gallery">
  <div class="gallery__content container">
    <ul class="gallery__list">
      <li class="gallery__item">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>2.4</span>
            </div>
            <img src="./assets/images/gallery-photo-1.png" width="223" height="120" alt="Ветка эвкалипта">
          </div>
          <div class="gallery__card-content">
            <h2 class="gallery__card-title">
              Fig. 1 (plant)
            </h2>
          </div>
        </article>
      </li>

      <li class="gallery__item">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>3.1</span>
            </div>
            <img src="./assets/images/gallery-photo-2.png" width="223" height="120" alt="Ветка эвкалипта">
          </div>
          <div class="gallery__card-content">
            <h2 class="gallery__card-title">
              Fig. 2 (flower)
            </h2>
          </div>
        </article>
      </li>

      <li class="gallery__item">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>1.2</span>
            </div>
            <img src="./assets/images/gallery-photo-3.png" width="223" height="120" alt="Ветка эвкалипта">
          </div>
          <div class="gallery__card-content">
            <h2 class="gallery__card-title">
              Fig. 3 (leaf)
            </h2>
          </div>
        </article>
      </li>

      <li class="gallery__item">
        <article class="gallery__card">
          <div class="gallery__image-wrapper">
            <div class="gallery__card-number">
              <span a>1.4</span>
            </div>
            <img src="./assets/images/gallery-photo-4.png" width="223" height="120" alt="Ветка эвкалипта">
          </div>
          <div class="gallery__card-content">
            <h2 class="gallery__card-title">
              Fig. 4 (wood)
            </h2>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>
