<section class="about">
  <div class="about__content container">
    <h2 class="about__title">Новые артефакты</h2>
    <div class="about__wrapper">
      <div class="about__image-wrapper">
        <img
          class="about__image"
          src="./assets/images/about-photo.jpg"
          width="825"
          height="493"
          alt="Композиция из природных артефактов: растения, цветы, коряги на тёмном фоне"
        />
      </div>
      <div class="about__column">
        <h3 class="about__content-title">Kurische Nehrung 24</h3>
        <p class="about__content-text">
          Вот вам яркий пример современных тенденций - начало повседневной работы по формированию
          позиции выявляет срочную потребность методов управления процессами.
        </p>
        <p class="about__content-text">
          Есть над чем задуматься: представители современных социальных резервов своевременно
          верифицированы.
        </p>
        <a class="about__content-link" href="#">Читать далее</a>
      </div>
    </div>
  </div>
</section>
