@use '../../../styles/variables' as variables;
@use '../../../assets/scss/functions' as *;

.header-main {
  position: relative;
  background-color: variables.$bg-main-color;
  padding: 18px 0;

  &__content {
    display: flex;
    align-items: center;
    margin: 0 auto;

    @media (width <= 789px) {
      justify-content: space-between;
    }
  }

  &__logo-link {
    display: block;
    margin: 0 clamp(3.125rem, -0.0068rem + 6.5161vw, 7.8125rem) 0 0;

    &:focus {
      outline: none;

      &-visible {
        outline: 1px solid variables.$green-focus;
        outline-offset: 4px;
      }
    }

    img {
      display: block;
      max-width: 65px;
      height: auto;
    }
  }

  &__navigation {
    padding: 0;
    margin: 0 clamp(5.1rem, -3.9363rem + 18.801vw, 18.625rem) 0 0;

    @media (width <= 789px) {
      display: flex;
      justify-content: center;
      position: absolute;
      left: 0;
      width: 100%;
      margin: 0;
      bottom: -40px;
      z-index: 1000;
    }

    @media (width <= 450px) {
      display: none;
    }
  }

  &__list {
    display: flex;
    gap: clamp(2rem, 1.2374rem + 2.3022vw, 4rem);
    list-style: none;
    line-height: 100%;
    margin: 0;
    padding: 0;
  }

  &__link {
    color: variables.$text-main-color;
    text-decoration: none;

    &:hover {
      color: variables.$bg-accent-color;
    }

    &:active {
      color: variables.$green-active;
    }

      &:focus {
        outline: none;

        &-visible {
          outline: 1px solid variables.$green-focus;
          outline-offset: 4px;
        }
      }
  }

  &__search-img,
  &__login-img {
    display: block;
    color: variables.$bg-accent-color;

    &:hover {
      color: variables.$green-hover;
    }

    &:active {
      color: variables.$green-active;
    }
  }

  &__search {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;

    &:focus {
      outline: none;

      &-visible {
        outline: 1px solid variables.$green-focus;
        outline-offset: 4px;
      }
    }
  }

  &__login {
    &:focus {
      outline: none;

      &-visible {
        outline: 1px solid variables.$green-focus;
        outline-offset: 4px;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: clamp(2rem, 1.2374rem + 2.3022vw, 4rem);

    img {
      display: block;
    }
  }
}
