@use './styles/variables' as *;
@use './styles/fonts';
@use './assets/scss/functions' as *;
@import "../node_modules/swiper/swiper.css";
@import "../node_modules/swiper/modules/navigation.css";
@import "../node_modules/swiper/modules/autoplay.css";
@import "../node_modules/swiper/modules/a11y-element.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family-primary;
  color: $text-main-color;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(22);
  letter-spacing: 0;
  text-align: left;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 clamp(0.9375rem, 2.2875rem + -1.125vw, 2.0625rem);
}

button {
  cursor: pointer;
}
