@use './styles/variables' as *;
@use './styles/fonts';
@use './assets/scss/functions' as *;
@import '../node_modules/swiper/swiper.css';
@import '../node_modules/swiper/modules/autoplay.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  margin: 0;
  font-family: $font-family-primary;
  color: $text-main-color;
  font-size: rem(16);
  font-weight: 400;
  line-height: rem(22);
  letter-spacing: 0;
  text-align: left;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding: 0 clamp(0.9375rem, 2.2875rem + -1.125vw, 2.0625rem);
}

button {
  cursor: pointer;
}

button.gallery__button-prev.swiper-button-disabled,
button.gallery__button-next.swiper-button-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
}
